.nav {
	background-color: #1717174d;
	padding: 20px;
}

.navItems {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.linksBox {
	list-style: none;
	display: flex;
}

.navLink {
	padding: 5px;
	margin: 0 10px;
	text-transform: uppercase;

	a {
		text-decoration: none;
		color: aliceblue;
	}
}

a .icon {
	font-size: 20px;
	color: aliceblue;
	cursor: pointer;
}
