@import '../../styles/settings.scss';

.nav {
	background-color: darken($color-dark, 3%);
	// background-color: #1717174d;
	padding: 2px 20px;
}

.navItems {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.linksBox {
	list-style: none;
	display: flex;
}

.navLink {
	padding: 5px;
	margin: 0 10px;
	text-transform: uppercase;

	a {
		text-decoration: none;
		color: aliceblue;
	}
	.activeLink {
		color: $color-warning;
	}
}

a .icon {
	font-size: 20px;
	color: $color-light;
	cursor: pointer;
}
